$button-simple-fon: #eee;
$button-simple-fon-hover: #aaa;
$button-simple-border-radius: 1.25rem;

$button-ghost-border-width: calc(var($base-line-height) / 10);
$button-ghost-border-color: #aaa;
$button-ghost-fon: transparent;
$button-ghost-fon-hover: #aaa;
$button-ghost-border-radius: 1.25rem;

.m-wrapper {
  /** @define buttons */

  @define-mixin %button-simple {
    @mixin type-setting "text";
    display: inline-block;  
    outline: none;
    border: none;
    background: $button-simple-fon;
    min-width: calc($base-line-height * 12);
    text-align: center;
    text-decoration: none;
    padding: $base-line-height;

    &:hover{
      background: $button-simple-fon-hover;
    } 
  }

  @define-mixin %button-simple--round {
    border-radius: $button-simple-border-radius;
  }

  @define-mixin %button-ghost {
    @mixin type-setting "text";
    display: inline-block;  
    outline: none;
    border: none;
    min-width: calc($base-line-height * 12);
    text-align: center;
    text-decoration: none;
    background: $button-ghost-fon;
    border: $button-ghost-border-width solid $button-ghost-border-color;
    padding: calc($base-line-height - $button-ghost-border-width);

    &:hover{
      background: $button-ghost-fon-hover;
    }    
  }

  @define-mixin %button-ghost--round {
    border-radius: $button-ghost-border-radius; 
  }

  @at-root {
    :--allLinksWithButtons.button-simple {
      @mixin %button-simple;
      text-decoration: none;
      display: block;
    }

    :--allLinksWithButtons.button-simple--round {
      @mixin %button-simple--round;
    }

    :--allLinksWithButtons.button-ghost {
      @mixin %button-ghost;
      text-decoration: none;
      display: block;
    }

    :--allLinksWithButtons.button-ghost--round {
      @mixin %button-ghost--round;
    }
  }
}


