$m-pagination-background: #eee;
$m-pagination-background-active: #aaa;
$m-pagination-border-width: calc($base-line-height / 10);
$m-pagination-border-color: #aaa;
$m-pagination-border-color-active: #aaa;

.m-wrapper {
  /** @define pagination */
  @b m-pagination-arrow {
    text-align: left;
    @mixin col_12_of_12;
    @mixin type-setting "text";
    overflow: hidden;

    @m center {
      text-align: center;
    }

    @m right {
      text-align: right;
    }

    @e number {
      display: none;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;

      @m active {
        background: $m-pagination-background-active;
        border: $m-pagination-border-width solid $m-pagination-border-color-active;
      }

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e arrow-left {
      display: inline-block;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;
    }

    @e arrow-left-end {
      display: inline-block;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;
    }

    @e arrow-right {
      display: inline-block;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width) solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;
    }

    @e arrow-right-end {
      display: inline-block;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;
    }
  }

  @b m-pagination-btn {
    text-align: left;
    @mixin col_12_of_12;
    @mixin type-setting "text";
    overflow: hidden;

    @m center {
      text-align: center;
    }

    @m right {
      text-align: right;
    }

    @e number {
      display: none;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;

      @m active {
        background: $m-pagination-background-active;
        border: $m-pagination-border-width solid $m-pagination-border-color-active;
      }

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e arrow-left {
      display: none;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e arrow-left-end {
      display: none;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e arrow-right {
      display: none;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e arrow-right-end {
      display: none;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e show-more {
      display: inline-block;
      margin-right: calc($base-line-height / 4);
      text-decoration: none;
      background: $m-pagination-background;
      border: $m-pagination-border-width solid $m-pagination-border-color;
      padding: calc($base-line-height - $m-pagination-border-width);
      min-width: calc($base-line-height * 4);
      text-align: center;

      @media (--greater-than-mobile) {
        display: none;
      }
    }
  }
}
