:root {
  --m-pagination-background: #eee;
  --m-pagination-background-active: #aaa;
  --m-pagination-border-width: calc(var(--base-line-height) / 10);
  --m-pagination-border-color: #aaa;
  --m-pagination-border-color-active: #aaa;

  --m-pagination-arrow-right-end: var(--icon-arr-right-end);
  --m-pagination-arrow-right: var(--icon-arr-right);
  --m-pagination-arrow-left-end: var(--icon-arr-left-end);
  --m-pagination-arrow-left: var(--icon-arr-left);
}

.m-wrapper {
  /** @define pagination */
  @b m-pagination-arrow {
    text-align: left;
    @mixin col_12_of_12;
    @mixin type-setting "text";
    overflow: hidden;

    @m center {
      text-align: center;
    }

    @m right {
      text-align: right;
    }

    @e number {
      display: none;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      @m active {
        background: var(--m-pagination-background-active);
        border: var(--m-pagination-border-width) solid var(--m-pagination-border-color-active);
      }

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e arrow-left {
      display: inline-block;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      &:before {
        @mixin basic_icon;
        content: var(--m-pagination-arrow-left);
      }
    }

    @e arrow-left-end {
      display: inline-block;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      &:before {
        @mixin basic_icon;
        content: var(--m-pagination-arrow-left-end);
      }
    }

    @e arrow-right {
      display: inline-block;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      &:before {
        @mixin basic_icon;
        content: var(--m-pagination-arrow-right);
      }
    }

    @e arrow-right-end {
      display: inline-block;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      &:before {
        @mixin basic_icon;
        content: var(--m-pagination-arrow-right-end);
      }
    }
  }

  @b m-pagination-btn {
    text-align: left;
    @include _(12 12 8 4 4);
    @mixin type-setting "text";
    overflow: hidden;

    @m center {
      text-align: center;
    }

    @m right {
      text-align: right;
    }

    @e number {
      display: none;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      @m active {
        background: var(--m-pagination-background-active);
        border: var(--m-pagination-border-width) solid var(--m-pagination-border-color-active);
      }

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e arrow-left {
      display: none;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);    
      text-align: center;

      &:before {
        @mixin basic_icon;
        content: var(--m-pagination-arrow-left);
      }

      @media (--greater-than-mobile) { 
        display: inline-block;
      }
    }

    @e arrow-left-end {
      display: none;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      &:before {
        @mixin basic_icon;
        content: var(--m-pagination-arrow-left-end);
      }

      @include _(greater than mobile) {  
        display: inline-block;
      }
    }

    @e arrow-right {
      display: none;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      &:before {
        @mixin basic_icon;
        content: var(--m-pagination-arrow-right);
      }

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e arrow-right-end {
      display: none;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      &:before {
        @mixin basic_icon;
        content: var(--m-pagination-arrow-right-end);
      }

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    @e show-more {
      display: inline-block;
      margin-right: calc(var(--base-line-height) / 4);
      text-decoration: none;
      background: var(--m-pagination-background);
      border: var(--m-pagination-border-width) solid var(--m-pagination-border-color);
      padding: calc(var(--base-line-height) - var(--m-pagination-border-width));
      min-width: calc(var(--base-line-height) * 4);
      text-align: center;

      @media (--greater-than-mobile) { 
        display: none;
      }
    }
  }
}