$news005-fon: #ddd;

.m-wrapper {
  /** @define news-005 */
  @b news-005 {
    @mixin setupCols nested-wrap;
    @mixin setupCols nested;
    @mixin setupCols title;
    @mixin setupCols date;
    @mixin setupCols img-link;
    @mixin setupCols text-wrap;

    @e nested-wrap {
      @_ 6 6 6 12 12;
    }

    @e nested {
      background: $news005-fon;
      @mixin cellRow;
      @mixin cellColumn;
      padding: 0;
    }

    @e title {
      @mixin col_12_of_12;
      @mixin header1;
    }

    @e img-link {
      @_ 6 6 6 6 12;
      padding: 0;

      @media (--greater-than-mobile) {
        padding-right: calc($base-line-height * 2);
      }
    }

    @e img {
      display: block;
      min-height: 100%;
      height: calc($base-line-height * 22);
      width: 100%;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translateX(-50%);
      }
    }

    @e text-wrap {
      @_ 6 6 6 6 12;

      @media (--greater-than-mobile) {
        padding-left: 0;
      }
    } 

    @e date {
      margin-bottom: $base-line-height;
      padding: 0;
      @mixin cellRow;
      @mixin cellColumn;

      @media (--greater-than-tablet) {
        margin-bottom: calc($base-line-height * 2);
      }
    }

    @e time {
      @mixin type-setting "text";
      margin-right: calc($base-line-height * 2);
    }

    @e day {
      @mixin type-setting "text";
    }

    @define-mixin %title-nested {
      @mixin type-setting "accent-text";
    }

    @e title-nested {
      @mixin %title-nested;
    } 

    @e nested-link-wrap {
      margin-top: calc($base-line-height * 3);
    } 

    @e btn-wrap {
      text-align: center;
      @mixin col_12_of_12;
      @mixin resetWhitespace;
      padding-left: calc($base-line-height * 2);
      padding-right: calc($base-line-height * 2);
      margin-top: $base-line-height;

      @media (--greater-than-tablet) {
        margin-top: calc($base-line-height * 2);
      }
    } 
  }

  @at-root {
    :--allLinksWithButtons.news-005__title-nested {
      @mixin %title-nested;
      text-decoration: none;
      display: block;
      
      &:hover {
        text-decoration: underline;
      }
    }

    :--allLinksWithButtons.news-005__nested-link {
      display: block;

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }

    :--allLinksWithButtons.news-005__full-link {
      display: block;

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }
  }
}
