:root {
  --window-gutter: 1em;
}

.m-wrapper {
  font-family: map(typography, font-family);
}

html, body, .m-container {
  @media (--mobile) {
    min-width: 20em;
  }
}
.m-container {
  zoom: 1;
}


.m-row {
  /* removed margin-left|right: auto */
  @media (--null-breakpoint) {
    width: 320px;
  }
  @media (--greater-than-mobile) {
    width: 29.9375em;
  }
  @media (--greater-than-tablet-portrait) {
    width: 46.9375em;
  }
  @media (--greater-than-tablet) {
    width: calc(59.9375em - var(--window-gutter) * 2);
  }
  @media (--greater-than-desktop) {
    width: calc(74.9375em - var(--window-gutter) * 2);
  }
  @media (--greater-than-desktop-wide) {
    width: calc(83.9375em - var(--window-gutter) * 2);
  }
}

.m-wrapper.m-wrapper_monster-edit-mode {
  @b m-monster-material {
    @m selected {
      animation: selection-highlight ease-in-out 1s;
      animation-iteration-count: 1;
    }
  }
}

@keyframes selection-highlight{
  0% {
    outline: 1px solid rgba(0, 255, 0, 0);
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    outline: 1px solid rgba(0, 255, 0, 1);
    background-color: #8fc31b;
  }
  100% {
    outline: 1px solid rgba(0, 255, 0, 0);
    background-color: rgba(255, 255, 255, 0);
  }
}
