/*
ГАВНА кусок удалил этот я
НАПОМНЮ в последний РАЗ:
1. Core задаёт базовые стили и reset внутри .m-wrapper
2. Core нельзя импортировать в бандлах
3. Хелперы, в которых может нуждаться бандл ДОЛЖНЫ быть в bootstrap
4. Bootstrap не должен НИЧЕГО добавлять
5. Итоговый css из core будет вставляться в каждую страницу САМ

*/
