.m-wrapper {
  @mixin type-setting "text";
  font-size: 1rem !important;
  margin: 0;

  :--header1 {
    @mixin header1;
  }

  :--header2 {
    @mixin header2;
  }

  :--header3 {
    @mixin header3;
  }

  :--header4 {
    @mixin header4;
  }

  :--header5 {
    @mixin header5;
  }

  :--header6 {
    @mixin header6;
  }

  :--paragraph {
    @mixin paragraph;
  }

  .slider-heading {
    @mixin type-setting "slider-heading";
  }

  .heading-bold {
    @mixin type-setting "heading-bold";
    padding: 0;
  	margin: 0;
  	margin-top: calc(var(--base-line-height) * 2);
  	margin-bottom: calc(var(--base-line-height) * 2);
  }

  .small-text {
    @mixin type-setting "small-text";
  }

  .smallest-text {
    @mixin type-setting "smallest-text";
  }

  .text-bold {
    @mixin type-setting "text-bold";
  	padding: 0;
  	margin: 0;
  }

  ul, ol {
    margin: 0;
    padding-left: 2rem;
  }
}
