@define-mixin type-setting $type {
  @if $type == "smallest-text" {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  @if $type == "small-text" {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  @if $type == "text-bold" {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    @media (--desktop) {

        font-size: 1rem;

    }
  }


  @if $type == "text" {
    font-size: 0.875rem;
    line-height: 1.25rem;
    @media (--desktop) {
        font-size: 1rem;
    }
  }

  @if $type == "accent-text" {
    font-size: 1rem;
    line-height: 1.25rem;
    @media (--tablet) {
      font-size: 1.1875rem;
    }
  }

  @if $type == "section" {
    font-size: 1.1875rem;
    line-height: 1.25rem;
    @media (--tablet) {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }

  @if $type == "sub-heading" {
    font-size: 1.5rem;
    line-height: 1.875rem;
    @media (--tablet) {
      font-size: 1.625rem;
    }
    @media (--desktop) {
      font-size: 1.875rem;
    }
  }

  @if $type == "heading" {
    font-size: 1.75rem;
    line-height: 1.875rem;
    @media (--tablet) {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    @media (--desktop) {
      font-size: 2.5rem;
    }
  }

  @if $type == "heading-bold" {
    font-size: 1.75rem;
    line-height: 1.875rem;
    font-weight: 500;
    @media (--tablet) {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    @media (--desktop) {
      font-size: 2.5rem;
    }
  }

  @if $type == "slider-heading" {
    font-size: 1.75rem;
    line-height: 1.875rem;
    @media (--tablet) {
      font-size: 2.25rem;
      line-height: 3.75rem;
    }
    @media (--desktop) {
      font-size: 3.5rem;
    }
  }
}
