.m-wrapper {
  @mixin type-setting "text";
  font-size: 1rem !important;
  margin: 0;

  :--header1 {
    @mixin type-setting "heading";
    padding: 0;
	margin: 0;
	margin-top: calc(var(--base-line-height) * 2);
	margin-bottom: calc(var(--base-line-height) * 2);
  }

  :--header2 {
    @mixin type-setting "sub-heading";
    padding: 0;
    margin: 0;
  }

  :--header3 {
    @mixin type-setting "section";
    padding: 0;
    margin: 0;
  }

  :--header4 {
    @mixin type-setting "accent-text";
    padding: 0;
    margin: 0;
  }

  :--header5 {
    @mixin type-setting "text";
    margin: 0;
  }

  :--header6 {
    @mixin type-setting "smallest-text";
    margin: 0;
  }

  :--paragraph {
    margin: 0;
    margin-bottom: var(--base-line-height);
  }

  .slider-heading {
    @mixin type-setting "slider-heading";
  }

  .heading-bold {
    @mixin type-setting "heading-bold";
    padding: 0;
	margin: 0;
	margin-top: calc(var(--base-line-height) * 2);
	margin-bottom: calc(var(--base-line-height) * 2);
  }

  .small-text {
    @mixin type-setting "small-text";
  }

  .smallest-text {
    @mixin type-setting "smallest-text";
  }

  .text-bold {
    @mixin type-setting "text-bold";
	padding: 0;
	margin: 0;
  }

  ul, ol {
    margin: 0;
    padding-left: 2rem;
  }
}
