:root {
    /* grid */
    /* typography */
    /*vertical rhytm*/
}
/* custom media queries */
/* lost grid conf */
/*@lost flexbox flex;*/
/*@lost cycle none;*/
body {
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 1rem !important;
    width: 100%;
    min-width: 320px;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.m-wrapper {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html, body, .m-container {}
@media (max-width: 39.9375em) {
    html, body, .m-container {
        min-width: 20em;
    }
}
.m-container {
    zoom: 1;
}
.m-row {
    outline: 1px solid green;
    display: flex;
    flex-flow: row wrap;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1em) {
    .m-row {
        width: 20rem;
    }
}
@media (min-width: 39.9375em) {
    .m-row {
        width: 39.9375em;
    }
}
@media (min-width: 59.9375em) {
    .m-row {
        width: 57.9375em;
    }
}
@media (min-width: 74.9375em) {
    .m-row {
        width: 72.9375em;
    }
}
@media (min-width: 83.9375em) {
    .m-row {
        width: 81.9375em;
    }
}
.m-wrapper {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-size: 1rem !important;
    margin: 0;
}
.m-wrapper h1, .m-wrapper .h1 {
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.m-wrapper h2, .m-wrapper .h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
}
.m-wrapper h3, .m-wrapper .h3 {
    font-size: 1.1875rem;
    line-height: 1.25rem;
    padding: 0;
    margin: 0;
}
.m-wrapper h4, .m-wrapper .h4 {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0;
    margin: 0;
}
.m-wrapper h5, .m-wrapper .h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
}
.m-wrapper h6, .m-wrapper .h6 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0;
}
.m-wrapper p, .m-wrapper .p {
    margin: 0;
    margin-bottom: 0.625rem;
}
.m-wrapper .slider-heading {
    font-size: 1.75rem;
    line-height: 1.875rem;
}
.m-wrapper .heading-bold {
    font-size: 1.75rem;
    line-height: 1.875rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.m-wrapper .small-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.m-wrapper .smallest-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
}
.m-wrapper .text-bold {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.m-wrapper ul, .m-wrapper ol {
    margin: 0;
    padding-left: 2rem;
}
@media (min-width: 74.9375em) {
    .m-wrapper {
        font-size: 1rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper h1, .m-wrapper .h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper h1, .m-wrapper .h1 {
        font-size: 2.5rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper h2, .m-wrapper .h2 {
        font-size: 1.625rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper h2, .m-wrapper .h2 {
        font-size: 1.875rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper h3, .m-wrapper .h3 {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper h4, .m-wrapper .h4 {
        font-size: 1.1875rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper h5, .m-wrapper .h5 {
        font-size: 1rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper .slider-heading {
        font-size: 2.25rem;
        line-height: 3.75rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper .slider-heading {
        font-size: 3.5rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper .heading-bold {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper .heading-bold {
        font-size: 2.5rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper .text-bold {
        font-size: 1rem;
    }
}
/* Need to port typography/base.scss */

/*# sourceMappingURL=styles.css.map*/