:root {
    /* grid */
    /* typography */
    /*vertical rhytm*/
}
/* custom media queries */
/*
  Every m-row block MUST use setupCols!
  $element is the name of element-column

  Example
  =======
  If we have content-block-001
  with 2 nested columns-elements of 1/2 width content-block-001__nested
  We MUST use the following post css code:

  ```
  @b content-block-001 {
    @mixin setupCols nested;

    @e nested {
      @extend grid_6_of_12;
    }
  }
  ```
*/
/* generate grid mixins */
/* grid order helpers */
/*
  Every m-row block MUST use setupCols!
  $element is the name of element-column

  Example
  =======
  If we have content-block-001
  with 2 nested columns-elements of 1/2 width content-block-001__nested
  We MUST use the following post css code:

  ```
  @b content-block-001 {
    @mixin setupCols nested;

    @e nested {
      @extend grid_6_of_12;
    }
  }
  ```
*/
/* generate grid mixins */
/* grid order helpers */
body {
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 1rem !important;
    width: 100%;
    min-width: 320px;
}
*, *:before, *:after {
    box-sizing: border-box;
}
/* ie11 hack */
_:-ms-fullscreen {
    width: 100%;
}
.m-row {
    /* grid is in context of row, no dependency for columns count, but for max-width */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*ie7-hack-display: inline;*/
    zoom: 1;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0;
    margin: 0;
    position: relative;
    /*width: 100%;*/
    max-width: 100%;
    letter-spacing: -0.31em !important;
    /*ie7-hack-letter-spacing: normal !important;*/
    word-spacing: -0.43em !important;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    list-style-type: none;
    margin: 0 auto;
}
.m-row:before, .m-row:after, .m-row *:before, .m-row *:after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
}
.m-row:before, .m-row:after {
    max-width: 100%;
}
.m-row .m-row {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -webkit-box-flex: 1;
            flex: 1 1 auto;
}
.m-wrapper {
    font-family: map(typography, font-family);
}
html, body, .m-container {}
@media (max-width: 39.9375em) {
    html, body, .m-container {
        min-width: 20em;
    }
}
.m-container {
    zoom: 1;
}
.m-row {
    outline: 1px solid green;
    /* removed margin-left|right: auto */
}
@media (min-width: 1em) {
    .m-row {
        width: 20rem;
    }
}
@media (min-width: 39.9375em) {
    .m-row {
        width: 39.9375em;
    }
}
@media (min-width: 59.9375em) {
    .m-row {
        width: 57.9375em;
    }
}
@media (min-width: 74.9375em) {
    .m-row {
        width: 72.9375em;
    }
}
@media (min-width: 83.9375em) {
    .m-row {
        width: 81.9375em;
    }
}
.m-wrapper {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-size: 1rem !important;
    margin: 0;
}
.m-wrapper h1, .m-wrapper .h1 {
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.m-wrapper h2, .m-wrapper .h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
}
.m-wrapper h3, .m-wrapper .h3 {
    font-size: 1.1875rem;
    line-height: 1.25rem;
    padding: 0;
    margin: 0;
}
.m-wrapper h4, .m-wrapper .h4 {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0;
    margin: 0;
}
.m-wrapper h5, .m-wrapper .h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
}
.m-wrapper h6, .m-wrapper .h6 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0;
}
.m-wrapper p, .m-wrapper .p {
    margin: 0;
    margin-bottom: 0.625rem;
}
.m-wrapper .slider-heading {
    font-size: 1.75rem;
    line-height: 1.875rem;
}
.m-wrapper .heading-bold {
    font-size: 1.75rem;
    line-height: 1.875rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.m-wrapper .small-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.m-wrapper .smallest-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
}
.m-wrapper .text-bold {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.m-wrapper ul, .m-wrapper ol {
    margin: 0;
    padding-left: 2rem;
}
@media (min-width: 74.9375em) {
    .m-wrapper {
        font-size: 1rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper h1, .m-wrapper .h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper h1, .m-wrapper .h1 {
        font-size: 2.5rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper h2, .m-wrapper .h2 {
        font-size: 1.625rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper h2, .m-wrapper .h2 {
        font-size: 1.875rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper h3, .m-wrapper .h3 {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper h4, .m-wrapper .h4 {
        font-size: 1.1875rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper h5, .m-wrapper .h5 {
        font-size: 1rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper .slider-heading {
        font-size: 2.25rem;
        line-height: 3.75rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper .slider-heading {
        font-size: 3.5rem;
    }
}
@media (min-width: 59.9375em) {
    .m-wrapper .heading-bold {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper .heading-bold {
        font-size: 2.5rem;
    }
}
@media (min-width: 74.9375em) {
    .m-wrapper .text-bold {
        font-size: 1rem;
    }
}
/*@group global*/
.m-wrapper .g {
    /*@desc No margin helper*/
    /*@desc Vertical rhythm one line margin helper*/
    /*@desc Text alignment helper*/
}
.m-wrapper .g__no-margin {
    /*@desc No margin from bottom*/
    /*@desc No margin from top*/
    /*@desc No margin from both top and bottom*/
}
.m-wrapper .g__no-margin--bottom {
    margin-bottom: 0;
}
.m-wrapper .g__no-margin--top {
    margin-top: 0;
}
.m-wrapper .g__no-margin--top-bottom {
    margin-top: 0;
    margin-bottom: 0;
}
.m-wrapper .g__one-line {
    /*@desc One vertical rhythm line margin from top*/
    /*@desc One vertical rhythm line margin from bottom*/
    /*@desc One vertical rhythm line margin from both top and bottom*/
}
.m-wrapper .g__one-line--top {
    margin-top: 1.25rem;
}
.m-wrapper .g__one-line--bottom {
    margin-bottom: 1.25rem;
}
.m-wrapper .g__one-line--top-bottom {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}
.m-wrapper .g__text {}
.m-wrapper .g__text--center {
    text-align: center;
}

/*# sourceMappingURL=styles.css.map*/