:root {


    /* grid */


    /* typography */


    /*vertical rhytm*/
}


/* typography */


/* custom media queries */


/*
  Every m-row block MUST use setupCols!
  $element is the name of element-column

  Example
  =======
  If we have content-block-001
  with 2 nested columns-elements of 1/2 width content-block-001__nested
  We MUST use the following post css code:

  ```
  @b content-block-001 {
    @mixin setupCols nested;

    @e nested {
      @extend grid_6_of_12;
    }
  }
  ```
*/


/* generate grid mixins */


/* grid order helpers */


/*
  Every m-row block MUST use setupCols!
  $element is the name of element-column

  Example
  =======
  If we have content-block-001
  with 2 nested columns-elements of 1/2 width content-block-001__nested
  We MUST use the following post css code:

  ```
  @b content-block-001 {
    @mixin setupCols nested;

    @e nested {
      @extend grid_6_of_12;
    }
  }
  ```
*/


/* generate grid mixins */


/* grid order helpers */
.m-wrapper .monster-visual-builder {
    line-height: 1.25rem;
    font-size: 1rem;
}
.m-wrapper .monster-visual-builder__top-pane {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    line-height: 40px;
    height: 40px;
    padding-left: 64px;
    background: #3B3752;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.m-wrapper .monster-visual-builder__left-pane {
    background: #1E1B35;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 64px;
}
.m-wrapper .edit-mode {}
.m-wrapper .edit-mode__layout-checkbox {
    margin: 0 0.625rem;
}
.m-wrapper .edit-mode__layout {
    padding-left: 0.625rem;
    color: #F7F7FC;
}
.m-wrapper .monster-stackable-container {
    z-index: 12000;
    position: fixed;
    left: 64px;
    top: 40px;
    bottom: 0;
    min-width: 200px;
    color: #F7F7FC;
}
.m-wrapper .monster-stackable-container__pane {
    background: #1E1B35;
    min-width: 300px;
    float: left;
    height: 100%;
    bottom: 0;
    top: 0;
    overflow-y: auto;
}
.m-wrapper .monster-stackable-container__pane--first {
    background: #3B3752;
    min-width: 200px;
}
.m-wrapper .monster-environment-selector {}
.m-wrapper .monster-environment-selector__environment-link {
    display: block;
    text-align: center;
    width: 64px;
    height: 64px;
    line-height: 64px;
    color: #666773;
    cursor: pointer;
    text-decoration: none;
}
.m-wrapper .monster-environment-selector__environment-link:hover {
    color: #F7F7FC;
}
.m-wrapper .monster-environment-selector__environment-link--active {
    background-color: #3B3752;
    color: #F7F7FC;
}
.m-wrapper .resolution-switcher {
    background: #F7F7FC;
    float: left;
    padding: 0 20px;
}
.m-wrapper .resolution-switcher__resolution-link {
    color: #1E1B35;
    cursor: pointer;
    padding: 0 0.625rem;
}
.m-wrapper .resolution-switcher__resolution-link--active {
    color: #3FB2FF;
}
.m-wrapper .monster-visual-frame {
    z-index: -10;
    position: fixed;
    right: 10px;
    top: 41px;
    height: calc(100% - 40px - 2px);
    outline: 1px solid #666773;
    min-width: 340px;
    background: #fff;
    width: 61.875rem;
    border: 0;
}
.m-wrapper .materials-groups {
    list-style: none;
    padding-left: 0;
}
.m-wrapper .materials-groups li {
    display: block;
    list-style: none;
}
.m-wrapper .materials-groups__item {
    list-style: none;
}
.m-wrapper .materials-groups__switch-bundle {
    padding: 1.25rem 0.625rem;
    font-weight: bold;
    display: block;
    background: #4FD18A;
    color: #F7F7FC;
}
.m-wrapper .materials-groups__switch-group {
    color: #F7F7FC;
    padding: 1rem;
    display: block;
    border-left: 0.2rem solid #3B3752;
    text-decoration: none;
}
.m-wrapper .materials-groups__switch-group--active {
    font-weight: bold;
    background: #1E1B35;
    border-left: 0.2rem solid #3FB2FF;
}
.m-wrapper .materials-list {
    display: none;
    padding-left: 0;
}
.m-wrapper .materials-list--active {
    display: block;
    list-style: none;
}
.m-wrapper .materials-list__item {
    padding: 0.625rem;
    display: block;
    color: #F7F7FC;
}
.m-wrapper .m-monster-content {}
.m-wrapper .m-monster-content__material {}
.m-wrapper .m-monster-content__material--highlighted {
    box-shadow: inset 0 0 0 2px #3FB2FF;
}
.m-wrapper .m-monster-content__material--active {
    box-shadow: inset 0 0 0 2px #4FD18A;
}
.monster-block-handlers {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    position: absolute;
    background-color: #4FD18A;
    color: #F7F7FC;
    min-width: 150px;
    text-align: center;
    line-height: 1.875rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    padding: 0 0.625rem;
}
.monster-block-handlers a {
    color: #F7F7FC;
    text-decoration: none;
    display: inline-block;
    width: 1.875rem;
    text-align: center;
}
.monster-block-handlers a:hover {
    background-color: #EC5035;
}
.monster-block-handlers--disabled a, .monster-block-handlers--disabled a:hover {
    background-color: #4FD18A;
    cursor: pointer;
    color: #666773;
}


/* */

/*# sourceMappingURL=styles.css.map*/