:root {
    /* grid */
    /* typography */
    /*vertical rhytm*/
}
/* typography */
/* custom media queries */
/*
  Every m-row block MUST use setupCols!
  $element is the name of element-column

  Example
  =======
  If we have content-block-001
  with 2 nested columns-elements of 1/2 width content-block-001__nested
  We MUST use the following post css code:

  ```
  @b content-block-001 {
    @mixin setupCols nested;

    @e nested {
      @extend grid_6_of_12;
    }
  }
  ```
*/
/* generate grid mixins */
/* grid order helpers */
/*
  Every m-row block MUST use setupCols!
  $element is the name of element-column

  Example
  =======
  If we have content-block-001
  with 2 nested columns-elements of 1/2 width content-block-001__nested
  We MUST use the following post css code:

  ```
  @b content-block-001 {
    @mixin setupCols nested;

    @e nested {
      @extend grid_6_of_12;
    }
  }
  ```
*/
/* generate grid mixins */
/* grid order helpers */
a.button-simple, a:link.button-simple, a:hover.button-simple, a:visited.button-simple, a:active.button-simple, a:focus.button-simple, button.button-simple {
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: inline-block;
    outline: none;
    border: none;
    background: #eee;
    min-width: 7.5rem;
    text-align: center;
    text-decoration: none;
    padding: 0.625rem;
    text-decoration: none;
    display: block;
}
@media (min-width: 75em) {
    a.button-simple, a:link.button-simple, a:hover.button-simple, a:visited.button-simple, a:active.button-simple, a:focus.button-simple, button.button-simple {
        font-size: 1rem;
    }
}
a.button-simple:hover, a:link.button-simple:hover, a:hover.button-simple:hover, a:visited.button-simple:hover, a:active.button-simple:hover, a:focus.button-simple:hover, button.button-simple:hover {
    background: #aaa;
}
a.button-simple--round, a:link.button-simple--round, a:hover.button-simple--round, a:visited.button-simple--round, a:active.button-simple--round, a:focus.button-simple--round, button.button-simple--round {
    border-radius: 1.25rem;
}
a.button-ghost, a:link.button-ghost, a:hover.button-ghost, a:visited.button-ghost, a:active.button-ghost, a:focus.button-ghost, button.button-ghost {
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: inline-block;
    outline: none;
    border: none;
    min-width: 7.5rem;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    text-decoration: none;
    display: block;
}
@media (min-width: 75em) {
    a.button-ghost, a:link.button-ghost, a:hover.button-ghost, a:visited.button-ghost, a:active.button-ghost, a:focus.button-ghost, button.button-ghost {
        font-size: 1rem;
    }
}
a.button-ghost:hover, a:link.button-ghost:hover, a:hover.button-ghost:hover, a:visited.button-ghost:hover, a:active.button-ghost:hover, a:focus.button-ghost:hover, button.button-ghost:hover {
    background: #aaa;
}
a.button-ghost--round, a:link.button-ghost--round, a:hover.button-ghost--round, a:visited.button-ghost--round, a:active.button-ghost--round, a:focus.button-ghost--round, button.button-ghost--round {
    border-radius: 1.25rem;
}
.m-wrapper {
    /** @define buttons */
}
/** @define accordion-tabs */
.m-wrapper .accordion-tabs {}
.m-wrapper .accordion-tabs__content {
    display: none;
}
.m-wrapper .accordion-tabs__content.active {
    display: block;
}
/** @define pagination */
.m-wrapper .m-pagination-arrow {
    text-align: left;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    overflow: hidden;
}
@media (min-width: 75em) {
    .m-wrapper .m-pagination-arrow {
        font-size: 1rem;
    }
}
.m-wrapper .m-pagination-arrow--center {
    text-align: center;
}
.m-wrapper .m-pagination-arrow--right {
    text-align: right;
}
.m-wrapper .m-pagination-arrow__number {
    display: none;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
@media (min-width: 40em) {
    .m-wrapper .m-pagination-arrow__number {
        display: inline-block;
    }
}
.m-wrapper .m-pagination-arrow__number--active {
    background: #aaa;
    border: 0.0625rem solid #aaa;
}
.m-wrapper .m-pagination-arrow__arrow-left {
    display: inline-block;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
.m-wrapper .m-pagination-arrow__arrow-left-end {
    display: inline-block;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
.m-wrapper .m-pagination-arrow__arrow-right {
    display: inline-block;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem) solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
.m-wrapper .m-pagination-arrow__arrow-right-end {
    display: inline-block;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
.m-wrapper .m-pagination-btn {
    text-align: left;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    overflow: hidden;
}
@media (min-width: 75em) {
    .m-wrapper .m-pagination-btn {
        font-size: 1rem;
    }
}
.m-wrapper .m-pagination-btn--center {
    text-align: center;
}
.m-wrapper .m-pagination-btn--right {
    text-align: right;
}
.m-wrapper .m-pagination-btn__number {
    display: none;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
@media (min-width: 40em) {
    .m-wrapper .m-pagination-btn__number {
        display: inline-block;
    }
}
.m-wrapper .m-pagination-btn__number--active {
    background: #aaa;
    border: 0.0625rem solid #aaa;
}
.m-wrapper .m-pagination-btn__arrow-left {
    display: none;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
@media (min-width: 40em) {
    .m-wrapper .m-pagination-btn__arrow-left {
        display: inline-block;
    }
}
.m-wrapper .m-pagination-btn__arrow-left-end {
    display: none;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
@media (min-width: 40em) {
    .m-wrapper .m-pagination-btn__arrow-left-end {
        display: inline-block;
    }
}
.m-wrapper .m-pagination-btn__arrow-right {
    display: none;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
@media (min-width: 40em) {
    .m-wrapper .m-pagination-btn__arrow-right {
        display: inline-block;
    }
}
.m-wrapper .m-pagination-btn__arrow-right-end {
    display: none;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
@media (min-width: 40em) {
    .m-wrapper .m-pagination-btn__arrow-right-end {
        display: inline-block;
    }
}
.m-wrapper .m-pagination-btn__show-more {
    display: inline-block;
    margin-right: 0.15625rem;
    text-decoration: none;
    background: #eee;
    border: 0.0625rem solid #aaa;
    padding: 0.5625rem;
    min-width: 2.5rem;
    text-align: center;
}
@media (min-width: 40em) {
    .m-wrapper .m-pagination-btn__show-more {
        display: none;
    }
}
/** @define quantity */
.m-wrapper .quantity {
    position: relative;
}
.m-wrapper .quantity__minus {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    cursor: pointer;
    background: #aaa;
    border: 0.0625rem solid #000;
}
.m-wrapper .quantity__plus {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    cursor: pointer;
    border: 0.0625rem solid #000;
    background: #aaa;
}
.m-wrapper .quantity__amount input {
    padding: 0 2.5rem;
    text-align: center;
}
/** @define rating */
.m-wrapper .rating {
    position: relative;
    text-align: center;
    border: none;
    direction: rtl;
    display: inline-block;
}
.m-wrapper .rating__icon {
    display: inline-block;
    position: relative;
}
.m-wrapper .rating__icon:before {
    font-size: 20px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 20px;
    line-height: 20px;
    line-height: 1.25rem;
    color: #ddd;
}
.m-wrapper .rating__item {
    display: inline-block;
}
.m-wrapper .rating__item.rating__item--chosen .rating__icon:before, .m-wrapper .rating__item.rating__item--chosen ~ .rating__item .rating__icon:before {
    color: #ffd700;
}
.m-wrapper .rating-css {
    position: relative;
    text-align: center;
    direction: rtl;
    border: none;
    display: inline-block;
}
.m-wrapper .rating-css__label {
    display: inline-block;
    cursor: pointer;
}
.m-wrapper .rating-css__icon {
    display: inline-block;
    position: relative;
}
.m-wrapper .rating-css__icon:before {
    font-size: 20px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 20px;
    line-height: 20px;
    line-height: 1.25rem;
    color: #ddd;
}
.m-wrapper .rating-css__input {
    position: absolute;
    left: -9999px;
}
.m-wrapper .rating-css__input:hover ~ .rating-css__label .rating-css__icon:before {
    color: #000;
}
.m-wrapper .rating-css__input:disabled:hover ~ .rating-css__label .rating-css__icon:before {
    color: #ddd;
}
.m-wrapper .rating-css__input[type="radio"]:checked ~ .rating-css__label .rating-css__icon:before {
    color: #ffd700;
}
.m-wrapper .rating-css__input.rating-css__input--active ~ .rating-css__label .rating-css__icon:before {
    color: #ffd700;
}
.m-wrapper .rating-css__input.rating-css__input--active:hover ~ .rating-css__label .rating-css__icon:before, .m-wrapper .rating-css__input.rating-css__input--active:disabled ~ .rating-css__label .rating-css__icon:before {
    color: #ffd700;
}
.m-wrapper .rating-css--noselect .rating-css__label {
    cursor: inherit;
}
.m-wrapper .rating-js {
    position: relative;
    text-align: center;
    border: none;
    display: inline-block;
}
.m-wrapper .rating-js__icon {
    display: inline-block;
    position: relative;
}
.m-wrapper .rating-js__icon:before {
    font-size: 20px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 20px;
    line-height: 20px;
    line-height: 1.25rem;
    color: #ddd;
}
.m-wrapper .rating-js__item {
    display: inline-block;
    cursor: pointer;
}
.m-wrapper .rating-js__item--hover .rating-js__icon:before {
    color: #000;
}
.m-wrapper .rating-js__item--chosen .rating-js__icon:before {
    color: #ffd700;
}
.m-wrapper .rating-tooltip {
    text-align: center;
}
.m-wrapper .rating-tooltip__line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.625rem 0;
    cursor: pointer;
}
@media (min-width: 75em) {
    .m-wrapper .rating-tooltip__line {
        font-size: 1rem;
    }
}
.m-wrapper .rating-tooltip__rate-text {
    margin-left: 1.25rem;
}
/** @define tooltip */
.m-wrapper .tooltip {
    position: relative;
}
.m-wrapper .tooltip:hover .tooltip__popup {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.m-wrapper .tooltip__popup {
    position: absolute;
    left: 50%;
    min-width: 245px;
    background: #eee;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 1.25rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.m-wrapper .tooltip__popup--top {
    bottom: 100%;
}
.m-wrapper .tooltip__popup--bottom {
    top: 100%;
}
.m-wrapper .tooltip__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}
.m-wrapper .tooltip__arrow--top {
    border-width: 0.3125rem 0.3125rem 0 0.3125rem;
    border-color: #eee transparent transparent transparent;
    bottom: -0.3125rem;
    left: 48%;
    left: calc(50% - 0.3125rem);
}
.m-wrapper .tooltip__arrow--bottom {
    border-width: 0 0.3125rem 0.3125rem 0.3125rem;
    border-color: transparent transparent #eee transparent;
    top: -0.3125rem;
    left: 48%;
    left: calc(50% - 0.3125rem);
}
.m-wrapper .tooltip__rel {
    padding: 0.625rem 0;
}
/**
ПОЧЕМУ Я УДАЛИЛ КОМПОНЕНТЫ ОТСЮДА:
- Вы тут переопределяете базовые стили стандартных плагинов
- Делаете вы это в стандартном бандле
- Но стандартный бандл будет использоваться в 99% случаев
- Смогут ли сторонние бандлы использовать эти компоненты? Если да, то им придётся самим переопределять стиль
- Не лучше ли переопределить это в core-бандле?
- Также надо всё это завернуть в .m-wrapper
**/
a.content-block-001__title-nested, a:link.content-block-001__title-nested, a:hover.content-block-001__title-nested, a:visited.content-block-001__title-nested, a:active.content-block-001__title-nested, a:focus.content-block-001__title-nested, button.content-block-001__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
@media (min-width: 60em) {
    a.content-block-001__title-nested, a:link.content-block-001__title-nested, a:hover.content-block-001__title-nested, a:visited.content-block-001__title-nested, a:active.content-block-001__title-nested, a:focus.content-block-001__title-nested, button.content-block-001__title-nested {
        margin-bottom: 1.25rem;
    }
}
a.content-block-001__title-nested:hover, a:link.content-block-001__title-nested:hover, a:hover.content-block-001__title-nested:hover, a:visited.content-block-001__title-nested:hover, a:active.content-block-001__title-nested:hover, a:focus.content-block-001__title-nested:hover, button.content-block-001__title-nested:hover {
    text-decoration: underline;
}
/** @define content-block-001 */
.m-wrapper .content-block-001 {}
.m-wrapper .content-block-001__nested {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-001__title {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-001__nested {
    text-align: center;
}
@media (min-width: 84.001em) {
    .m-wrapper .content-block-001__nested {
        width: 25%;
    }
}
@media (max-width: 84em) {
    .m-wrapper .content-block-001__nested {
        width: 25%;
    }
}
@media (max-width: 75em) {
    .m-wrapper .content-block-001__nested {
        width: 25%;
    }
}
@media (max-width: 60em) {
    .m-wrapper .content-block-001__nested {
        width: 50%;
    }
}
@media (max-width: 40em) {
    .m-wrapper .content-block-001__nested {
        width: 100%;
    }
}
.m-wrapper .content-block-001__title {
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-001__title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 75em) {
    .m-wrapper .content-block-001__title {
        font-size: 2.5rem;
    }
}
.m-wrapper .content-block-001__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-001__title-nested {
        margin-bottom: 1.25rem;
    }
}
.m-wrapper .content-block-001__icon {
    font-size: 4.375rem;
    line-height: 4.375rem;
    margin-bottom: 0.625rem;
    display: block;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-001__icon {
        margin-bottom: 1.25rem;
    }
}
@media (min-width: 75em) {
    .m-wrapper .content-block-001__icon {
        font-size: 5.625rem;
        line-height: 5.625rem;
    }
}
.m-wrapper .content-block-001__text {
    height: 3.75rem;
    overflow: hidden;
}
a.content-block-002__title-nested, a:link.content-block-002__title-nested, a:hover.content-block-002__title-nested, a:visited.content-block-002__title-nested, a:active.content-block-002__title-nested, a:focus.content-block-002__title-nested, button.content-block-002__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
@media (min-width: 60em) {
    a.content-block-002__title-nested, a:link.content-block-002__title-nested, a:hover.content-block-002__title-nested, a:visited.content-block-002__title-nested, a:active.content-block-002__title-nested, a:focus.content-block-002__title-nested, button.content-block-002__title-nested {
        margin-bottom: 1.25rem;
    }
}
a.content-block-002__title-nested:hover, a:link.content-block-002__title-nested:hover, a:hover.content-block-002__title-nested:hover, a:visited.content-block-002__title-nested:hover, a:active.content-block-002__title-nested:hover, a:focus.content-block-002__title-nested:hover, button.content-block-002__title-nested:hover {
    text-decoration: underline;
}
/** @define content-block-002 */
.m-wrapper .content-block-002 {}
.m-wrapper .content-block-002__nested {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-002__title {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-002__nested {
    text-align: center;
}
@media (min-width: 84.001em) {
    .m-wrapper .content-block-002__nested {
        width: 25%;
    }
}
@media (max-width: 84em) {
    .m-wrapper .content-block-002__nested {
        width: 25%;
    }
}
@media (max-width: 75em) {
    .m-wrapper .content-block-002__nested {
        width: 25%;
    }
}
@media (max-width: 60em) {
    .m-wrapper .content-block-002__nested {
        width: 50%;
    }
}
@media (max-width: 40em) {
    .m-wrapper .content-block-002__nested {
        width: 100%;
    }
}
.m-wrapper .content-block-002__title {
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-002__title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 75em) {
    .m-wrapper .content-block-002__title {
        font-size: 2.5rem;
    }
}
.m-wrapper .content-block-002__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-002__title-nested {
        margin-bottom: 1.25rem;
    }
}
.m-wrapper .content-block-002__img {
    margin-bottom: 0.625rem;
    height: 7.5rem;
    overflow: hidden;
    position: relative;
}
.m-wrapper .content-block-002__img img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
@media (min-width: 60em) {
    .m-wrapper .content-block-002__img {
        margin-bottom: 1.25rem;
    }
}
.m-wrapper .content-block-002__text {
    height: 3.75rem;
    overflow: hidden;
}
.m-wrapper .content-block-002--left .content-block-002__nested {
    text-align: left;
}
a.content-block-003__title-nested, a:link.content-block-003__title-nested, a:hover.content-block-003__title-nested, a:visited.content-block-003__title-nested, a:active.content-block-003__title-nested, a:focus.content-block-003__title-nested, button.content-block-003__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
@media (min-width: 60em) {
    a.content-block-003__title-nested, a:link.content-block-003__title-nested, a:hover.content-block-003__title-nested, a:visited.content-block-003__title-nested, a:active.content-block-003__title-nested, a:focus.content-block-003__title-nested, button.content-block-003__title-nested {
        margin-bottom: 1.25rem;
    }
}
a.content-block-003__title-nested:hover, a:link.content-block-003__title-nested:hover, a:hover.content-block-003__title-nested:hover, a:visited.content-block-003__title-nested:hover, a:active.content-block-003__title-nested:hover, a:focus.content-block-003__title-nested:hover, button.content-block-003__title-nested:hover {
    text-decoration: underline;
}
/** @define content-block-003 */
.m-wrapper .content-block-003 {}
.m-wrapper .content-block-003__nested {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-003__title {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-003__nested {
    text-align: left;
}
@media (min-width: 84.001em) {
    .m-wrapper .content-block-003__nested {
        width: 50%;
    }
}
@media (max-width: 84em) {
    .m-wrapper .content-block-003__nested {
        width: 50%;
    }
}
@media (max-width: 75em) {
    .m-wrapper .content-block-003__nested {
        width: 50%;
    }
}
@media (max-width: 60em) {
    .m-wrapper .content-block-003__nested {
        width: 100%;
    }
}
@media (max-width: 40em) {
    .m-wrapper .content-block-003__nested {
        width: 100%;
    }
}
@media (min-width: 40em) {
    .m-wrapper .content-block-003__nested {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
.m-wrapper .content-block-003__title {
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-003__title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 75em) {
    .m-wrapper .content-block-003__title {
        font-size: 2.5rem;
    }
}
.m-wrapper .content-block-003__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-003__title-nested {
        margin-bottom: 1.25rem;
    }
}
.m-wrapper .content-block-003__img {
    height: 7.5rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.25rem;
}
@media (min-width: 84.001em) {
    .m-wrapper .content-block-003__img {
        width: 50%;
    }
}
@media (max-width: 84em) {
    .m-wrapper .content-block-003__img {
        width: 50%;
    }
}
@media (max-width: 75em) {
    .m-wrapper .content-block-003__img {
        width: 50%;
    }
}
@media (max-width: 60em) {
    .m-wrapper .content-block-003__img {
        width: 100%;
    }
}
@media (max-width: 40em) {
    .m-wrapper .content-block-003__img {
        width: 100%;
    }
}
.m-wrapper .content-block-003__img img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
@media (min-width: 40em) {
    .m-wrapper .content-block-003__img {
        margin-right: 1.25rem;
        margin-bottom: 0;
    }
}
@media (min-width: 84.001em) {
    .m-wrapper .content-block-003__text-wrap {
        width: 50%;
    }
}
@media (max-width: 84em) {
    .m-wrapper .content-block-003__text-wrap {
        width: 50%;
    }
}
@media (max-width: 75em) {
    .m-wrapper .content-block-003__text-wrap {
        width: 50%;
    }
}
@media (max-width: 60em) {
    .m-wrapper .content-block-003__text-wrap {
        width: 100%;
    }
}
@media (max-width: 40em) {
    .m-wrapper .content-block-003__text-wrap {
        width: 100%;
    }
}
.m-wrapper .content-block-003__text {
    height: 3.75rem;
    overflow: hidden;
}
a.content-block-004__title-nested, a:link.content-block-004__title-nested, a:hover.content-block-004__title-nested, a:visited.content-block-004__title-nested, a:active.content-block-004__title-nested, a:focus.content-block-004__title-nested, button.content-block-004__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
@media (min-width: 60em) {
    a.content-block-004__title-nested, a:link.content-block-004__title-nested, a:hover.content-block-004__title-nested, a:visited.content-block-004__title-nested, a:active.content-block-004__title-nested, a:focus.content-block-004__title-nested, button.content-block-004__title-nested {
        margin-bottom: 1.25rem;
    }
}
a.content-block-004__title-nested:hover, a:link.content-block-004__title-nested:hover, a:hover.content-block-004__title-nested:hover, a:visited.content-block-004__title-nested:hover, a:active.content-block-004__title-nested:hover, a:focus.content-block-004__title-nested:hover, button.content-block-004__title-nested:hover {
    text-decoration: underline;
}
/** @define content-block-004 */
.m-wrapper .content-block-004 {}
.m-wrapper .content-block-004__nested {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-004__title {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-004__nested {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}
@media (min-width: 84.001em) {
    .m-wrapper .content-block-004__nested {
        width: 25%;
    }
}
@media (max-width: 84em) {
    .m-wrapper .content-block-004__nested {
        width: 25%;
    }
}
@media (max-width: 75em) {
    .m-wrapper .content-block-004__nested {
        width: 50%;
    }
}
@media (max-width: 60em) {
    .m-wrapper .content-block-004__nested {
        width: 100%;
    }
}
@media (max-width: 40em) {
    .m-wrapper .content-block-004__nested {
        width: 100%;
    }
}
.m-wrapper .content-block-004__title {
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-004__title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 75em) {
    .m-wrapper .content-block-004__title {
        font-size: 2.5rem;
    }
}
.m-wrapper .content-block-004__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-004__title-nested {
        margin-bottom: 1.25rem;
    }
}
.m-wrapper .content-block-004__icon-wrap {
    height: 2.5rem;
    width: 2.5rem;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #eee;
    margin-right: 1.25rem;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-004__icon-wrap {
        height: 3.125rem;
        line-height: 3.125rem;
        width: 3.125rem;
    }
}
.m-wrapper .content-block-004__icon {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.875rem;
    line-height: 2.5rem;
    text-align: center;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-004__icon {
        height: 3.125rem;
        width: 3.125rem;
        line-height: 3.125rem;
    }
}
.m-wrapper .content-block-004__text {
    height: 3.75rem;
    overflow: hidden;
}
a.content-block-005__title-nested, a:link.content-block-005__title-nested, a:hover.content-block-005__title-nested, a:visited.content-block-005__title-nested, a:active.content-block-005__title-nested, a:focus.content-block-005__title-nested, button.content-block-005__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
@media (min-width: 60em) {
    a.content-block-005__title-nested, a:link.content-block-005__title-nested, a:hover.content-block-005__title-nested, a:visited.content-block-005__title-nested, a:active.content-block-005__title-nested, a:focus.content-block-005__title-nested, button.content-block-005__title-nested {
        margin-bottom: 1.25rem;
    }
}
a.content-block-005__title-nested:hover, a:link.content-block-005__title-nested:hover, a:hover.content-block-005__title-nested:hover, a:visited.content-block-005__title-nested:hover, a:active.content-block-005__title-nested:hover, a:focus.content-block-005__title-nested:hover, button.content-block-005__title-nested:hover {
    text-decoration: underline;
}
/** @define content-block-005 */
.m-wrapper .content-block-005 {}
.m-wrapper .content-block-005__nested {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-005__title {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-005__nested {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}
@media (min-width: 84.001em) {
    .m-wrapper .content-block-005__nested {
        width: 33.33333333%;
    }
}
@media (max-width: 84em) {
    .m-wrapper .content-block-005__nested {
        width: 33.33333333%;
    }
}
@media (max-width: 75em) {
    .m-wrapper .content-block-005__nested {
        width: 33.33333333%;
    }
}
@media (max-width: 60em) {
    .m-wrapper .content-block-005__nested {
        width: 100%;
    }
}
@media (max-width: 40em) {
    .m-wrapper .content-block-005__nested {
        width: 100%;
    }
}
.m-wrapper .content-block-005__title {
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-005__title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 75em) {
    .m-wrapper .content-block-005__title {
        font-size: 2.5rem;
    }
}
.m-wrapper .content-block-005__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-005__title-nested {
        margin-bottom: 1.25rem;
    }
}
.m-wrapper .content-block-005__icon-wrap {
    height: 2.5rem;
    width: 2.5rem;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #eee;
    margin-right: 1.25rem;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-005__icon-wrap {
        height: 3.125rem;
        line-height: 3.125rem;
        width: 3.125rem;
    }
}
.m-wrapper .content-block-005__icon {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.875rem;
    line-height: 2.5rem;
    text-align: center;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-005__icon {
        height: 3.125rem;
        width: 3.125rem;
        line-height: 3.125rem;
    }
}
.m-wrapper .content-block-005__text {
    height: 3.75rem;
    overflow: hidden;
}
a.content-block-006__title-nested, a:link.content-block-006__title-nested, a:hover.content-block-006__title-nested, a:visited.content-block-006__title-nested, a:active.content-block-006__title-nested, a:focus.content-block-006__title-nested, button.content-block-006__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
@media (min-width: 60em) {
    a.content-block-006__title-nested, a:link.content-block-006__title-nested, a:hover.content-block-006__title-nested, a:visited.content-block-006__title-nested, a:active.content-block-006__title-nested, a:focus.content-block-006__title-nested, button.content-block-006__title-nested {
        margin-bottom: 1.25rem;
    }
}
a.content-block-006__title-nested:hover, a:link.content-block-006__title-nested:hover, a:hover.content-block-006__title-nested:hover, a:visited.content-block-006__title-nested:hover, a:active.content-block-006__title-nested:hover, a:focus.content-block-006__title-nested:hover, button.content-block-006__title-nested:hover {
    text-decoration: underline;
}
/** @define content-block-006 */
.m-wrapper .content-block-006 {}
.m-wrapper .content-block-006__nested-wrap {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-006__title {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-006__nested-wrap {
    text-align: center;
}
@media (min-width: 84.001em) {
    .m-wrapper .content-block-006__nested-wrap {
        width: 25%;
    }
}
@media (max-width: 84em) {
    .m-wrapper .content-block-006__nested-wrap {
        width: 25%;
    }
}
@media (max-width: 75em) {
    .m-wrapper .content-block-006__nested-wrap {
        width: 50%;
    }
}
@media (max-width: 60em) {
    .m-wrapper .content-block-006__nested-wrap {
        width: 50%;
    }
}
@media (max-width: 40em) {
    .m-wrapper .content-block-006__nested-wrap {
        width: 100%;
    }
}
.m-wrapper .content-block-006__nested {
    background: #eee;
    padding: 1.25rem;
    margin-top: 3.75rem;
}
.m-wrapper .content-block-006__title {
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-006__title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 75em) {
    .m-wrapper .content-block-006__title {
        font-size: 2.5rem;
    }
}
.m-wrapper .content-block-006__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-006__title-nested {
        margin-bottom: 1.25rem;
    }
}
.m-wrapper .content-block-006__icon {
    font-size: 3.75rem;
    line-height: 3.75rem;
    margin-top: -3.75rem;
    margin-bottom: 0.625rem;
    display: block;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-006__icon {
        margin-bottom: 1.25rem;
    }
}
.m-wrapper .content-block-006__text {
    height: 3.75rem;
    overflow: hidden;
}
a.content-block-007__title-nested, a:link.content-block-007__title-nested, a:hover.content-block-007__title-nested, a:visited.content-block-007__title-nested, a:active.content-block-007__title-nested, a:focus.content-block-007__title-nested, button.content-block-007__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
@media (min-width: 60em) {
    a.content-block-007__title-nested, a:link.content-block-007__title-nested, a:hover.content-block-007__title-nested, a:visited.content-block-007__title-nested, a:active.content-block-007__title-nested, a:focus.content-block-007__title-nested, button.content-block-007__title-nested {
        margin-bottom: 1.25rem;
    }
}
a.content-block-007__title-nested:hover, a:link.content-block-007__title-nested:hover, a:hover.content-block-007__title-nested:hover, a:visited.content-block-007__title-nested:hover, a:active.content-block-007__title-nested:hover, a:focus.content-block-007__title-nested:hover, button.content-block-007__title-nested:hover {
    text-decoration: underline;
}
/** @define content-block-007 */
.m-wrapper .content-block-007 {}
.m-wrapper .content-block-007__nested {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-007__title {
    /* display flex */
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction */
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset text align */
    text-align: left;
    text-align: start;
    text-align: left;
    text-align: left;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    -moz-text-align-last: auto;
         text-align-last: auto;
    text-align-last: auto;
    text-align-last: initial;
    /* reset whitespace */
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    /* other */
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1.25em;
    /* gutter! */
}
.m-wrapper .content-block-007__nested {
    text-align: center;
}
@media (min-width: 84.001em) {
    .m-wrapper .content-block-007__nested {
        width: 25%;
    }
}
@media (max-width: 84em) {
    .m-wrapper .content-block-007__nested {
        width: 25%;
    }
}
@media (max-width: 75em) {
    .m-wrapper .content-block-007__nested {
        width: 50%;
    }
}
@media (max-width: 60em) {
    .m-wrapper .content-block-007__nested {
        width: 50%;
    }
}
@media (max-width: 40em) {
    .m-wrapper .content-block-007__nested {
        width: 100%;
    }
}
.m-wrapper .content-block-007__title {
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding: 0;
    margin: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-007__title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 75em) {
    .m-wrapper .content-block-007__title {
        font-size: 2.5rem;
    }
}
.m-wrapper .content-block-007__title-nested {
    margin-bottom: 0.625rem;
    height: 2.5rem;
    overflow: hidden;
}
@media (min-width: 60em) {
    .m-wrapper .content-block-007__title-nested {
        margin-bottom: 1.25rem;
    }
}
.m-wrapper .content-block-007__text {
    height: 3.75rem;
    overflow: hidden;
}
.m-wrapper .content-block-007--left .content-block-007__nested {
    text-align: left;
}
/*
2
*/
/***************
 *
 *    TEST
 *
 ***************/


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJidW5kbGUvc3R5bGVzLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/