/* Dialogs are not inside .m-wrapper */
@b monster-dialog {
  /* Hide dialog by-default, it will be shown via $el.show() */
  display: none;
  background: #fff;
  padding: 1em;
  @e body {
    overflow: auto;
  }
}
