$news007-fon: #ddd;
$news007-border-width: calc($base-line-height / 5);
$news007-border-color: #ccc;

.m-wrapper {
  /** @define news-007 */
  @b news-007 {
    @mixin setupCols nested-wrap;
    @mixin setupCols nested;
    @mixin setupCols title;
    @mixin setupCols img-link;
    @mixin setupCols text-wrap;
    @_ 4 4 4 12 12;

    @e nested-wrap {
      
    }

    @e nested {
      background: $news007-fon;
      @mixin cellRow;
      @mixin cellColumn;
      padding: 0;

      &:first-child {
        

        .news-007__img-link {
          display: block;
        }

        .news-007__text-wrap {
          @_ 12 12 12 6 12;
          
          @media (--greater-than-mobile) {
            border-top: $news007-border-width solid $news007-border-color;
            border-left: none;
          }

          @media (--greater-than-tablet) {
            border-top: none;
            border-left: $news007-border-width solid $news007-border-color;
          }
        }
      }
    }

    @e title {
      @mixin col_12_of_12;
      @mixin header1;
    }

    @e img-link {
      display: none;
      @_ 12 12 12 6 12;
      padding: 0;
    }

    @e img {
      display: block;
      min-height: 100%;
      height: calc($base-line-height * 24);
      width: 100%;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translateX(-50%);
      }
    }

    @e text-wrap {
      border: $news007-border-width solid $news007-border-color;
      border-top: none;
    } 

    @e day {
      @mixin type-setting "text";
      margin-bottom: $base-line-height;
    }

    @define-mixin %title-nested {
      @mixin type-setting "accent-text";
    }

    @e title-nested {
      @mixin %title-nested;
    }

    @e btn-wrap {
      text-align: center;
      @mixin col_12_of_12;
      @mixin resetWhitespace;
      padding-left: calc($base-line-height * 2);
      padding-right: calc($base-line-height * 2);
      margin-top: $base-line-height;

      @media (--greater-than-tablet) {
        margin-top: calc($base-line-height * 2);
      }
    } 
  }

  @at-root {
    :--allLinksWithButtons.news-007__title-nested {
      @mixin %title-nested;
      text-decoration: none;
      display: block;
      
      &:hover {
        text-decoration: underline;
      }
    }

    :--allLinksWithButtons.news-007__full-link {
      display: block;

      @media (--greater-than-mobile) {
        display: inline-block;
      }
    }
  }
}
