.m-wrapper {
  /** @define content-block-003 */
  @b content-block-003 {
    @mixin setupCols nested;
    @mixin setupCols title;

    @e nested {
      @_ 6 6 6 12 12;
      text-align: left;

      @media (--greater-than-mobile) {
        @mixin cellRow;
      }
    }
    
    @e title {
      @mixin header1;
      @mixin col_12_of_12;
      text-align: center;
    }

    @define-mixin %title-nested {
      @mixin type-setting accent-text;
      margin-bottom: $base-line-height;
      height: calc($base-line-height * 4);
      overflow: hidden;

      @media (--greater-than-tablet) {
        margin-bottom: calc($base-line-height * 2);
      }
    }

    @e title-nested {
      @mixin %title-nested;
    }

    @e img {
      @_ 6 6 6 12 12;
      height: calc($base-line-height * 12);
      overflow: hidden;
      position: relative;
      margin-bottom: calc($base-line-height * 2);

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translateX(-50%);
      }

      @media (--greater-than-mobile) {
        margin-right: calc($base-line-height * 2);
        margin-bottom: 0;
      }
    }

    @e text-wrap {
      @_ 6 6 6 12 12;
    }

    @e text {
      @mixin type-setting text;
      height: calc($base-line-height * 6);
      overflow: hidden;
    }

    @at-root {
      :--allLinksWithButtons.content-block-003__title-nested {
        @mixin %title-nested;
        text-decoration: none;
        display: block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
